@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
  }
 
  canvas {
    display:block;
  }
  
  #content{ 
    color:#fff;
    font-weight: bold;
  }

  #type{
    position: absolute;
    left:600px;
    top: 40px;
    color: lime; 
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
    border: 1px solid;
    text-align: center;
    font-style: italic;
  }
  
  #type:nth-child(2){
    animation: type2 8s steps(60, end);
  }
  
  #type a{
    color: lime;
    text-decoration: none;
  }
  
  span{
    animation: blink 1s infinite;
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }


 

  #title1{
      position: absolute;
      font-size: 90px;
      left:750px;
      top:60px;
      animation-name: slide-right ;
      animation-duration: 5s;       
  }

@keyframes slide-right {
  0% { left:-1000px; top: 60px;}
  100% { left:750px; top: 60px;}
}

  #title2{
    position: absolute;
    font-size: 90px;
    right: 940px;
    top: 250px;
    animation-name: slide-bottom ;
    animation-duration: 4s;      
}

@keyframes slide-bottom {
  0% {right: -500px; top: 250px;}
  100% { right: 940px; top: 250px;}
}

#title3{
  position: absolute;
  font-size: 100px;
  left:600px;
  top: 400px;
  animation-name: slide-top ;
  animation-duration: 3s;       
}

@keyframes slide-top {
  0% { left: 600px; top: -1500px;}
  100% { left: 600px; top: 400px;}
}

#start{
  position:absolute;
  font-size: 30px;
  text-decoration: none;
  color:white;
  left:850px;
  top:800px;
  border: 2px solid #fff;
  padding:20px;
  border-radius: 0 40px;
}

.title4{
  position: absolute;
  font-size: 100px;
  left:700px;
  top: 50px;
  /* animation-name: slide-top ;
  animation-duration: 3s;        */
}

.title5{
  position: absolute;
  font-size: 50px;
  left:770px;
  top: 230px;
  /* animation-name: slide-top ;
  animation-duration: 3s;        */
}

.click{
  position:absolute;
  font-size: 40px;
  font-family: 'Sansita', sans-serif;
  text-decoration: none;
  font-style: italic;
  color:white;
  left:1400px;
  top:850px;
}